:root {
  --color-primary: #00a9b4;
  --color-primary-hover: #1fbcc2;
  --color-primary-active: #00818f;
  --color-primary-light: #e3f6fa;
  --color-primary-light-hover: rgb(228, 242, 245);
  --color-primary-light-active: #b3d6d7;
  --color-primary-light-border: #cceef0;
  --color-primary-light-on: #6ee8f0;
  --color-primary-darker: #197a80;
  --color-primary-header: #00667c;
  --color-primary-gradient: linear-gradient(
    180deg,
    var(--color-primary) 0%,
    var(--color-primary-active) 100%
  );
  --color-success: #48db48;
  --color-success-hover: #62ec62;
  --color-success-active: #44ca44;
  --color-reset: #f5a60b;
  --color-reset-hover: #e8930a;
  --color-reset-active: #d4770b;
  --color-danger: #eb5757;
  --color-danger-hover: #e04040;
  --color-danger-active: #c73e3e;
  --color-danger-light: #ffe3e3;
  --color-white: #ffffff;
  --color-black: #333333;
  --color-gray: #7d7e80;
  --color-info: #388eff;
  --color-disabled: rgba(0, 0, 0, 0.25);
  --color-disabled-bgc: rgba(0, 0, 0, 0.04);
  --color-disabled-icon: #a3a3a3;
  --color-border-base: #d9d9d9;
  --border-radius-base: 8px;
  --font-size-base: 16px;
  --font-size-h1: 1.25rem;
  --font-size-h2: 1rem;
  --font-size-p: 1rem;
  --line-height-base: 1.5;
  --line-height-h1: 1.75rem;
  --line-height-h2: 1.5rem;
  --line-height-p: 1.5rem;
  --gradient-slider: linear-gradient(180deg, #004d5e 0%, #007691 100%);
  --size-tablet: 768px;
  --size-desktop: 1024px;
  --gap-normal: 16px;
  --gap-small: 8px;
  --gap-section: 24px;
  --gap-content: 16px;
  --html-bgc: var(--color-primary-light);
  --header-height: 42px;
  --header-padding-x: 16px;
  --sidebar-width: 250px;
  --dock-height: 50px;
  --shadow-form-element-focus: 0 0 0 2px rgba(0, 169, 180, 0.1);
  --shadow-base: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-base-x: 2px 0px 8px 0px rgba(0, 0, 0, 0.1);
  --transition-base: 0.3s ease-in-out;
  --z-index-header: 1000;
  --z-index-dock: 1001;
  --z-index-sidebar: 1002;
  --z-index-sub-page-bottom: 1004;
  --z-index-sub-page-bottom-mask: 1005;
  --z-index-sub-page: 1006;
}
